// COLORS
:root{
    --black           :#04080F;
    --white           :#FFFFFF;
    --primary         :#FEF02F;
    --secondary       :#DDDDDD;
    --on-secondary    :#F5F5F5;
    --tertiary        :#a1a1a1;
    --quaternary      :#505050;
  }
  
html[data-theme='light'] {
    --bg                            :var(--white);
    --text-color                    :var(--black);
}
html[data-theme='dark'] {

    --bg                            :var(--black);
    --text-color                    :var(--white);
}


// @font-face {
//   font-family: 'samsung-thin';
//   src: url(/assets/fonts/SamsungSans-Thin.ttf);
//   font-display: swap;
// }



  // RESET CSªS
  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,
  ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,
  thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
  summary,time,mark,audio,video,button{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    font-weight: unset;
    font-family: 'Lexend';
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    vertical-align: baseline;
    color: var(--text-color);
    outline: unset;
    border: unset;
    background: unset;
  }
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
  body { line-height: 1; }
  ol,ul { list-style: none; }
  blockquote,q { quotes: none; }
  blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none; }
  table { border-collapse: collapse; border-spacing: 0; }
  
  ///////////////////////////////////////////////////////////////////////////////////////////////
  // HTML
  html {
    width: 100%;
  }
  body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    background: var(--bg);
    transition: background 0.25s;
    *{
      transition: color 0.5s;
    }
  }

  html{
    &::-webkit-scrollbar { width: 5px; }
    &::-webkit-scrollbar-track { background: var(--white); }
    &::-webkit-scrollbar-thumb { 
      background: var(--bg);
  
      &:hover { background: var(--quaternary); }
      &:active { background: var(--tertiary); }
    }
  }